.news-content{
  background-color: #f5f5f5;
  padding: 45px 0;
  
  &__wrapper{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    flex-grow: 1;
  }

  &__items{
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  
  & .pagination{
    margin-left: 0;
  }
}
