<div class="news-content">
  <div class="container">
    <div class="news-content__wrapper">
      <div class="news-content__items">

        <a href="#" class="news-content__item">
          <h3 class="news-content__title">Что будет, если зарегистрировать в квартире посторонних: 6 проблем</h3>
          <p class="news-content__time">
            <svg>
              <use xlink:href="img/sprite.svg#arrow-red"></use>
            </svg>
            15 июня 2022 года
          </p>
        </a>

        <a href="#" class="news-content__item">
          <h3 class="news-content__title">Что будет, если зарегистрировать в квартире посторонних: 6 проблем</h3>
          <p class="news-content__time">
            <svg>
              <use xlink:href="img/sprite.svg#arrow-red"></use>
            </svg>
            15 июня 2022 года
          </p>
        </a>

        <a href="#" class="news-content__item">
          <h3 class="news-content__title">Что будет, если зарегистрировать в квартире посторонних: 6 проблем</h3>
          <p class="news-content__time">
            <svg>
              <use xlink:href="img/sprite.svg#arrow-red"></use>
            </svg>
            15 июня 2022 года
          </p>
        </a>

        <a href="#" class="news-content__item">
          <h3 class="news-content__title">Что будет, если зарегистрировать в квартире посторонних: 6 проблем</h3>
          <p class="news-content__time">
            <svg>
              <use xlink:href="img/sprite.svg#arrow-red"></use>
            </svg>
            15 июня 2022 года
          </p>
        </a>

        <a href="#" class="news-content__item">
          <h3 class="news-content__title">Что будет, если зарегистрировать в квартире посторонних: 6 проблем</h3>
          <p class="news-content__time">
            <svg>
              <use xlink:href="img/sprite.svg#arrow-red"></use>
            </svg>
            15 июня 2022 года
          </p>
        </a>

        @@include('../../bem-blocks/pagination/_pagination.html')
      </div>

      <div class="news-content__feedback">
        @@include('../../bem-blocks/news-feedback/_news-feedback.html')
      </div>
      
    </div>
  </div>
</div>