<div class="news-content">
  <div class="container">
    <div class="news-content__wrapper">
      <div class="news-content__items">

        @@include('../../bem-blocks/news-item/_news-item.html')
        @@include('../../bem-blocks/news-item/_news-item.html')
        @@include('../../bem-blocks/news-item/_news-item.html')
        @@include('../../bem-blocks/news-item/_news-item.html')
        @@include('../../bem-blocks/news-item/_news-item.html')


        @@include('../../bem-blocks/pagination/_pagination.html')
      </div>

      <div class="news-content__feedback">
        @@include('../../bem-blocks/news-feedback/_news-feedback.html')
      </div>
      
    </div>
  </div>
</div>