<div class="news-single">
  <div class="container">
    <div class="news-single__wrapper">
      <div class="news-single__content">
        <p class="news-single__paragraph">На конференции Tinkoff eCommerce 1 декабря в кинотеатре КАРО 11 Октябрь в Москве эксперты обсудили развитие отрасли и поделились своим опытом и инсайтами. На первой конференции для онлайн-предпринимателей Tinkoff eCommerce собралось 1 500 зрителей в зале и более 15 000 следили за сессиями в прямом эфире. На четырех сценах эксперты отрасли электронной коммерции говорили о перестройке и росте онлайн-бизнеса, стратегиях изменений, трендах онлайн-продаж. Также на главной сцене состоялась презентация платформы Тинькофф Селлер — принципиально нового решения для российского рынка электронной коммерции по управлению продажами и развитию бизнеса онлайн-предпринимателей. </p>
        <p class="news-single__paragraph">На конференции Tinkoff eCommerce 1 декабря в кинотеатре КАРО 11 Октябрь в Москве эксперты обсудили развитие отрасли и поделились своим опытом и инсайтами. На первой конференции для онлайн-предпринимателей Tinkoff eCommerce собралось 1 500 зрителей в зале и более 15 000 следили за сессиями в прямом эфире. На четырех сценах эксперты отрасли электронной коммерции говорили о перестройке и росте онлайн-бизнеса, стратегиях изменений, трендах онлайн-продаж. Также на главной сцене состоялась презентация платформы Тинькофф Селлер — принципиально нового решения для российского рынка электронной коммерции по управлению продажами и развитию бизнеса онлайн-предпринимателей.</p>
        <p class="news-single__paragraph">На конференции Tinkoff eCommerce 1 декабря в кинотеатре КАРО 11 Октябрь в Москве эксперты обсудили развитие отрасли и поделились своим опытом и инсайтами. На первой конференции для онлайн-предпринимателей Tinkoff eCommerce собралось 1 500 зрителей в зале и более 15 000 следили за сессиями в прямом эфире. На четырех сценах эксперты отрасли электронной коммерции говорили о перестройке и росте онлайн-бизнеса, стратегиях изменений, трендах онлайн-продаж. Также на главной сцене состоялась презентация платформы Тинькофф Селлер — принципиально нового решения для российского рынка электронной коммерции по управлению продажами и развитию бизнеса онлайн-предпринимателей.</p>
      </div>
      <div class="news-single__form">
        @@include('../../bem-blocks/news-feedback/_news-feedback.html')
      </div>
    </div>
  </div>
</div>



<div class="news-recommendation">
  <div class="container">
    <h4 class="news-recommendation__title">Читайте так же</h4>
    <div class="news-recommendation__wrapper">
      @@include('../../bem-blocks/news-item/_news-item.html')
      @@include('../../bem-blocks/news-item/_news-item.html')
      @@include('../../bem-blocks/news-item/_news-item.html')
    </div>
  </div>
</div>