.news-single{
  &__wrapper{
    display: flex;
    justify-content: space-between;
  }

  &__content{
    max-width: 700px;
    font-size: 14px;
    line-height: 24px;
    color: #262626;
    padding-bottom: 70px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  &__paragraph{
    width: 100%;
  }
}


.news-recommendation{
  margin-bottom: 100px;

  &__title{
    font-size: 27px;
    line-height: 32px;
    font-weight: 600;
    margin-bottom: 20px;
  }

  &__wrapper{
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }

  & .news-item{
    max-width: 415px;
    background-color: #f3f3f3;

    &__title{
      font-size: 21px;
      padding-right: 50px;
    }
  }
}