<a href="#" class="teacher">
  <img src="img/expert-xs.webp" alt="teacher photo" class="teacher__img">
  <div class="teacher__info">
    <h4 class="teacher__info-name">Валентина Суворова</h4>
    <p class="teacher__info-desc">Менеджер, руководитель группы, ведущий эксперт по недвижимости</p>
    <div class="teacher__experience">
      <div class="teacher__experience-item">
        <p class="teacher__experience-item_title">Учеников</p>
        <p class="teacher__experience-item_value">150</p>
      </div>
      <div class="teacher__experience-item">
        <p class="teacher__experience-item_title">Опыт работы</p>
        <p class="teacher__experience-item_value">с 2015 года</p>
      </div>
    </div>
  </div>
</a>