<a href="#" class="expert-xs">
  <img src="img/expert-xs.webp" alt="expert photo" class="expert-xs__img">
  <div class="expert-xs__info">
    <h4 class="expert-xs__info-name">Шандровская  Валерия </h4>
    <p class="expert-xs__info-job">Специалист по недвижимости высшей категории</p>
    <div class="expert-xs__info-reviews">
      <div class="stars">
        <svg class="stars__item">
          <use xlink:href="img/sprite.svg#star"></use>
        </svg>
        <svg class="stars__item">
          <use xlink:href="img/sprite.svg#star"></use>
        </svg>
        <svg class="stars__item">
          <use xlink:href="img/sprite.svg#star"></use>
        </svg>
        <svg class="stars__item">
          <use xlink:href="img/sprite.svg#star"></use>
        </svg>
        <svg class="stars__item">
          <use xlink:href="img/sprite.svg#star"></use>
        </svg>
      </div>
      <p class="expert-xs__info-reviews_grade">4,7 ・ <span>191 отзыв</span></p>
    </div>
  </div>
</a>