<div class="review-reputation">
  <div class="review-reputation__head">
    <p class="review-reputation__head-name">Леонид</p>
    <p class="review-reputation__date">15 июня 2022 года</p>
  </div>
  <p class="review-reputation__text">Уникальная Евро-2 комнатная квартира c террасой в 100 м2.С УК согласовано и получено разрешение на постройку на террасе закрытой веранды, а также возможна постройка двухуровневой пристройки, любой вариант дизайнерского решения.</p>
  <p class="review-reputation__text">На террасу выведено электричество под освещение, отопление ( теплые полы). В квартире произведен современный ремонт из высококачественных материалов. Натяжной потолок из экологично-безопасной ткани.</p>
  <div class="review-reputation__footer">
    <div class="stars">
      <svg class="stars__item active">
        <use xlink:href="img/sprite.svg#star"></use>
      </svg>
      <svg class="stars__item active">
        <use xlink:href="img/sprite.svg#star"></use>
      </svg>
      <svg class="stars__item active">
        <use xlink:href="img/sprite.svg#star"></use>
      </svg>
      <svg class="stars__item active">
        <use xlink:href="img/sprite.svg#star"></use>
      </svg>
      <svg class="stars__item">
        <use xlink:href="img/sprite.svg#star"></use>
      </svg>
    </div>
    <p class="expert">
      Сотрудник:   
      <a href="#" class="expert__name">Объедкова Ирина</a>
    </p>
  </div>
</div>