<div class="product-xs">
  <a href="/" class="product-xs__link" title="Подробнее о *Название товара*">
    <img src="img/prod1.webp" alt="" class="product-xs__link-image">
    <div class="product-xs__link-price">
      <p class="product-xs__link-price_total">9 750 000 ₽ </p>
      <p class="product-xs__link-price_month">75 676 ₽ за м2</p>
    </div>
    <p class="product-xs__link-info">2—комн. квартира, 72 м2, 9/9 этаж</p>
    <p class="product-xs__link-address">р-н Железнодорожный, мкр. Боровое, ул. Федора Тютчева, 95М</p>
    <p class="product-xs__link-gift">Кухня в подарок</p>
  </a>
  <div class="product-xs__buttons">
    <button class="product-xs__buttons-like">
      <svg>
        <use xlink:href="img/sprite.svg#like"></use>
      </svg>
    </button>
    <a class="product-xs__buttons-phone" data-user="Мария" data-phone="+7 (967) 564 89 81">Показать номер</a>
  </div>
</div>