<div class="about-top">
  <div class="crumbs">
    <a href="/" class="crumbs__item">Главная</a>
    <a href="/" class="crumbs__item">База недвижимости</a>
    <p class="crumbs__item">2-комн. квартиры в Воронеже до 4 700 000 млн руб.</p>
  </div>
  <div class="container">
    <div class="about-top__text">
      <h2 class="about-top__title title">Идём к успеху проверенным путем</h2>
      <p class="about-top__desc title__desc">«Траст» входит в состав Российской Гильдии Риэлторов. Стандарты качества услуг компании сертифицированы, деятельность застрахована.</p>
    </div>
    <div class="about-top__progress">
      <div class="about-top__progress-item">
        <p class="about-top__progress-number">180</p>
        <p class="about-top__progress-text">«Траст» входит в состав Российской Гильдии </p>
      </div>
      <div class="about-top__progress-item">
        <p class="about-top__progress-number">17,965+</p>
        <p class="about-top__progress-text">«Траст» входит в состав Российской Гильдии </p>
      </div>
      <div class="about-top__progress-item">
        <p class="about-top__progress-number">788</p>
        <p class="about-top__progress-text">«Траст» входит в состав Российской Гильдии </p>
      </div>
      <div class="about-top__progress-item">
        <p class="about-top__progress-number">788</p>
        <p class="about-top__progress-text">«Траст» входит в состав Российской Гильдии </p>
      </div>
    </div>
  </div>
</div>