<section class="reputation-feedbacks">
  <div class="container">
    <div class="reputation-feedbacks__items">
      @@include('../../bem-blocks/review-reputation/_review-reputation.html')
      @@include('../../bem-blocks/review-reputation/_review-reputation.html')
      @@include('../../bem-blocks/review-reputation/_review-reputation.html')
      @@include('../../bem-blocks/review-reputation/_review-reputation.html')
      @@include('../../bem-blocks/pagination/_pagination.html')
    </div>
    
    <div class="reputation-feedbacks__experts">
      @@include('../../bem-blocks/expert-xs/_expert-xs.html')
      @@include('../../bem-blocks/expert-xs/_expert-xs.html')
      @@include('../../bem-blocks/expert-xs/_expert-xs.html')
      @@include('../../bem-blocks/expert-xs/_expert-xs.html')
      @@include('../../bem-blocks/expert-xs/_expert-xs.html')
    </div>
  </div>
</section>