<section class="jobs">
  <div class="container">
    <h2 class="jabs__title title">Кого мы ищем?</h2>
    <div class="jobs__item">
      <h4 class="jobs__item-profession">Специалист по недвижимости</h4>
      <div class="jobs__item-conditions">
        <p class="jobs__item-conditions_row">Работа в развивающейся и перспективной сфере   </p>
        <p class="jobs__item-conditions_row">Гибкий график работы - вы самостоятельно организовываете свое время</p>
        <p class="jobs__item-conditions_row">Бесплатное обучение в течение 2-х месяцев при поддержке опытного наставника</p>
      </div>
      <div class="jobs__item-conditions">
        <p class="jobs__item-conditions_row">Высокий процент с каждой сделки (вы сами формируете свой доход)</p>
        <p class="jobs__item-conditions_row">Корпоративная связь</p>
        <p class="jobs__item-conditions_row">Современный офис</p>
        <p class="jobs__item-conditions_row"> Дружный коллектив, всегда готовый помочь</p>
      </div>
      <button class="jobs__item-btn link-btn">Откликнуться</button>
    </div>
    <div class="jobs__item">
      <h4 class="jobs__item-profession">Специалист по недвижимости</h4>
      <div class="jobs__item-conditions">
        <p class="jobs__item-conditions_row">Работа в развивающейся и перспективной сфере   </p>
        <p class="jobs__item-conditions_row">Гибкий график работы - вы самостоятельно организовываете свое время</p>
        <p class="jobs__item-conditions_row">Бесплатное обучение в течение 2-х месяцев при поддержке опытного наставника</p>
      </div>
      <div class="jobs__item-conditions">
        <p class="jobs__item-conditions_row">Высокий процент с каждой сделки (вы сами формируете свой доход)</p>
        <p class="jobs__item-conditions_row">Корпоративная связь</p>
        <p class="jobs__item-conditions_row">Современный офис</p>
        <p class="jobs__item-conditions_row"> Дружный коллектив, всегда готовый помочь</p>
      </div>
      <button class="jobs__item-btn link-btn">Откликнуться</button>
    </div>
  </div>
</section>