.products-xs-field{
  max-width: 796px;
  display: none;
  animation: rtl30px 0.5s ease;
  &.active{
    display: block;
  }
}
.products-xs{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}