.profile-feedback{
  max-width: 455px;
  padding: 25px 30px;
  border-radius: 4px;
  background-color: #fff;

  &__buttons{
    display: flex;
    flex-wrap: wrap;
    gap: 9px;

    &_item{
      font-size: 14px;
      line-height: 15px;
      color: #2D2D2D;
      height: 37px;
      padding: 0 25px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #D8D8D8;
      border-radius: 4px;

      &.active{
        border-color: #DC1919;
        color: #DC1919;
      }

      &:hover{
        border-color: #DC1919;
        color: #DC1919;
      }
    }
  }

  &__form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 450px;

    &-phone{
      display: flex;
      align-items: center;
      gap: 10px;
      font-size: 27px;
      line-height: 37px;
      font-weight: 600;
      transition: .2s;

      svg{
        width: 22px;
        height: 21px;
        fill: #C3C3C3;
        transition: .3s;
      }

      &:hover{
        color: #d92929;

        svg{
          fill: #d92929;
        }
      }
    }

    &-desc{
      font-size: 14px;
      line-height: 21px;
      color: #838383;
      margin-bottom: 10px;
    }

    &-input{
      font-size: 14px;
      line-height: 17px;
      background: #F5F5F5;
      border-radius: 4px;
      padding: 19px 20px;
      box-sizing: border-box;
      max-width: 362px;
    }

    &-button{
      font-size: 14px;
      line-height: 17px;
      color: white;
      background: #DE2727;
      width: 100%;
      max-width: 362px;
      padding: 19px 0;
      border-radius: 4px;
      border: 1px solid #DE2727;
      box-sizing: border-box;

      &:hover{
        background: none;
        color: #DE2727;
      }
    }

    &-personal{
      font-size: 12px;
      line-height: 19px;
      color: #838383;
      max-width: 275px;

      &_link{
        color: #DE2727;
      }
    }
  }
}

