<div class="profile-feedback">
  <form action="" class="profile-feedback__form">
    <a href="tel:89003003030" class="profile-feedback__form-phone">
      <svg>
        <use xlink:href="img/sprite.svg#phone"></use>
      </svg>
      7 (900) 969 18 09
    </a>
		<p class="profile-feedback__form-desc">или заполните форму и я вам перезвоню</p>
    <div class="profile-feedback__buttons">
      <button type="button" class="profile-feedback__buttons_item">Купить</button>
      <button type="button" class="profile-feedback__buttons_item">Продать</button>
      <button type="button" class="profile-feedback__buttons_item">Обменять</button>
      <button type="button" class="profile-feedback__buttons_item">Продать, чтобы купить</button>
    </div>
		<input type="text" class="profile-feedback__form-input" placeholder="Ваше имя">
		<input type="tel" class="profile-feedback__form-input" placeholder="Номер телефона">
		<button type="submit" class="profile-feedback__form-button">Перезвоните мне</button>
		<p class="profile-feedback__form-personal">
			Нажимая «Перезвоните мне», я даю
			<a href="/" class="profile-feedback__form-personal_link">согласие на обработку персональных данных</a>
		</p>
	</form>
</div>