<section class="page-pluses">
  <div class="container">
    <div class="page-pluses__item">
      <h5 class="page-pluses__item-title">Собственная школа риэлторов</h5>
      <div class="page-pluses__item-text">В компании 18 000+ квалифицир сотрудников по всей сети</div>
    </div>
    <div class="page-pluses__item">
      <h5 class="page-pluses__item-title">Современные офисы в которых можно жить</h5>
      <div class="page-pluses__item-text">В компании 18 000+ квалифицир сотрудников по всей сети</div>
    </div>
    <div class="page-pluses__item">
      <h5 class="page-pluses__item-title">Курсы повышения квалификации</h5>
      <div class="page-pluses__item-text">В компании 18 000+ квалифицир сотрудников по всей сети</div>
    </div>
    <div class="page-pluses__item">
      <h5 class="page-pluses__item-title">Курсы повышения квалификации</h5>
      <div class="page-pluses__item-text">В компании 18 000+ квалифицир сотрудников по всей сети</div>
    </div>
  </div>
</section>