<section class="about-us">
  <div class="container">
    <h3 class="about-us__title title">Интересный заголовок</h3>
    <div class="about-us__wrapper">
      <div class="about-us__text">
        <p class="about-us__text-p">Заслуги Службы недвижимости «Траст» неоднократно были оценены профессиональным сообществом Воронежа и России. В копилке достижений СН «Траст: награда в номинации «Лучшая риэлторская компания по внедрению новых технологий», признание «Лучшей риэлторской компанией» в номинации «За вклад в развитие вторичного рынка недвижимости», победа в общегородском конкурсе «Профессиональное Призвание» в номинации «Лучшая развивающаяся брокерская фирма», призы в двух номинациях Всероссийской Премии «За вклад в развитие риэлторства в России».</p>
        <p class="about-us__text-p">Риэлторов Черноземья дипломами «За высокий профессионализм в риэлторской деятельности». Уже более половины сотрудников СН «Траст» за годы работы на рынке недвижимости Воронежа отмечены Гильдией Риэлторов Черноземья дипломами «За высокий профессионализм в риэлторской Гильдией Риэлторов Черноземья дипломами «За высокий</p>
      </div>
      <img src="img/school.webp" alt="about img" class="about-us__img">
    </div>

    <div class="about-us__years">
      <p class="about-us__years-item active">2022</p>
      <p class="about-us__years-item">2021</p>
      <p class="about-us__years-item">2020</p>
      <p class="about-us__years-item">2019</p>
      <p class="about-us__years-item">2004</p>
      <p class="about-us__years-item">2002</p>
      <p class="about-us__years-item">2001</p>
    </div>

    <div class="about-us__wrapper">
      <div class="about-us__content">
        <p class="about-us__content-text">
          Заслуги Службы недвижимости «Траст» неоднократно были оценены профессиональным сообществом Воронежа и России. В копилке достижений СН «Траст: награда в номинации «Лучшая риэлторская компания по внедрению новых технологий», </p>
        <img src="img/career.webp" alt="mini content img" class="about-us__content-img">
      </div>
      <div class="about-us__content">
        <p class="about-us__content-text">
          Заслуги Службы недвижимости «Траст» неоднократно были оценены профессиональным сообществом Воронежа и России. В копилке достижений СН «Траст: награда в номинации «Лучшая риэлторская компания по внедрению новых технологий», признание </p>
        <img src="img/career.webp" alt="mini content img" class="about-us__content-img">
      </div>
    </div>

  </div>
</section>