<section class="page-desc">
  <div class="container">
    <div class="page-desc__text">
      <p class="page-desc__text-p">Заслуги Службы недвижимости «Траст» неоднократно были оценены профессиональным сообществом Воронежа и России. В копилке достижений СН «Траст: награда в номинации «Лучшая риэлторская компания по внедрению новых технологий», признание «Лучшей риэлторской компанией» в номинации «За вклад в развитие вторичного рынка недвижимости», победа в общегородском конкурсе  «Профессиональное Призвание» в номинации «Лучшая развивающаяся брокерская фирма», призы в двух номинациях Всероссийской Премии «За вклад в развитие риэлторства в России».</p>
      <p class="page-desc__text-p">Уже более половины сотрудников СН «Траст» за годы работы на рынке недвижимости Воронежа отмечены Гильдией Риэлторов Черноземья дипломами «За высокий профессионализм в риэлторской деятельности». Уже более половины сотрудников СН «Траст» за годы работы на рынке недвижимости Воронежа отмечены Гильдией Риэлторов Черноземья дипломами «За высокий профессионализм в риэлторской деятельности».</p>
    </div>
    <img class=".page-desc__img" src="img/career.webp" alt="description picture">
  </div>
</section>