<div class="job-top">
  <div class="crumbs">
    <a href="/" class="crumbs__item">Главная</a>
    <a href="/" class="crumbs__item">База недвижимости</a>
    <p class="crumbs__item">2-комн. квартиры в Воронеже до 4 700 000 млн руб.</p>
  </div>
  <div class="container">
    <div class="job-top__text">
      <h2 class="job-top__title title">Позаботимся о вашей карьере</h2>
      <p class="job-top__desc title__desc">«Траст» входит в состав Российской Гильдии Риэлторов. Стандарты качества услуг компании сертифицированы, деятельность застрахована.</p>
      <a href="#" class="job-top__btn link-btn">Посмотреть вакансии</a>
    </div>
     <img src="img/career.webp" alt="career bg" class="job-top__img">
  </div>
</div>