*{
  margin: 0;
  padding: 0;
  font-family: 'RF Dewi';
  color: $neutral70;
  border: none;
  outline: none;
  background: none;
  text-decoration: none;
  list-style-type: none;
}

a, button{
  transition: 0.2s;

  &:hover{
    cursor: pointer;
  }
}

body{
  min-width: 360px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

input[type='number']{
  -moz-appearance: textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.wrapper{
  margin-top: 73px;
}
.container{
  max-width: 1300px;
  padding: 0 10px;
  margin: 0 auto;
}

@keyframes rtl30px {
  from{
    transform: translateX(30px);
    opacity: 0;
  }
  to{
    transform: translateX(0);
    opacity: 1;
  }  
}

.title{
  font-size: 35px;
  line-height: 42px;
  font-weight: 600;
  color: #1A1A1A;

  &__desc{
    font-size: 14px;
    line-height: 22px;
    color: #727272;
  }
}