<div class="reputation-top">
  <div class="container">
    <div class="reputation-top__text">
      <h2 class="news-top__title title">Гордимся нашей репутацией</h2>
      <p class="news-top__desc title__desc">Большинство отзывов о МИЭЛЬ — положительные. Проблемы бывают, но не часто. Мы не пытаемся их скрыть.</p>
    </div>
    <div class="reputation-top__btns">
      <button class="reputation-top__btns-search">
        <svg>
          <use xlink:href="img/sprite.svg#search"></use>
        </svg>
      </button>
      <button class="reputation-top__btns-create">Оставить отзыв</button>
    </div>
  </div>
</div>