<form action="" class="news-form">
  <p class="news-form__title">Получите консультацию</p>
  <p class="news-form__title red">по интересующей теме</p>
  <p class="news-form__desc">Большинство отзывов о МИЭЛЬ — положительные. Проблемы бывают</p>
  <input type="tel" class="news-form__input" placeholder="Номер телефона">
  <button type="submit" class="news-form__button">Перезвоните мне</button>
  <p class="news-form__personal">
    Нажимая «Перезвоните мне», я даю
    <a href="/" class="news-form__personal_link">согласие на обработку персональных данных</a>
  </p>
</form>